In [ ]:
#PySpark Dataframe
# Reading The Dataset
# Checking the Datatypes of the Column(Schema)
# Selecting Columns And Indexing
# Check Describe option similar to Pandas
# Adding Columns
# Dropping columns
# Renaming Columns

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 62 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=dfc8a69d04394b9ef6379a88afbf25013dbba32a0af8d44ad5c0e6e30f6d122e
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [26]:
import pyspark

In [27]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practise').getOrCreate()

In [28]:
df_spark=spark.read.csv('/content/gdrive/MyDrive/singapore.csv') #this way you wont get first row as column names

In [29]:
df_spark=spark.read.option('header','true').csv('/content/gdrive/MyDrive/singapore.csv',inferSchema=True)

In [30]:
df_spark.show(7)

+----+---------------+-------------+------+
|year|        level_1|      level_2| value|
+----+---------------+-------------+------+
|1957|Total Residents|0  -  4 Years|264727|
|1957|Total Residents|5  -  9 Years|218097|
|1957|Total Residents|10 - 14 Years|136280|
|1957|Total Residents|15 - 19 Years|135679|
|1957|Total Residents|20 - 24 Years|119266|
|1957|Total Residents|25 - 29 Years|111726|
|1957|Total Residents|30 - 34 Years| 89925|
+----+---------------+-------------+------+
only showing top 7 rows

In [31]:
df_spark.printSchema()

root
 |-- year: integer (nullable = true)
 |-- level_1: string (nullable = true)
 |-- level_2: string (nullable = true)
 |-- value: string (nullable = true)

In [32]:
df_spark.columns

['year', 'level_1', 'level_2', 'value']

In [35]:
df_spark.select(['year','level_1']).show(5)

+----+---------------+
|year|        level_1|
+----+---------------+
|1957|Total Residents|
|1957|Total Residents|
|1957|Total Residents|
|1957|Total Residents|
|1957|Total Residents|
+----+---------------+
only showing top 5 rows

In [40]:
#adding columns in data frame
df_spark=df_spark.withColumn('new_entry',df_spark['year']+20)

In [41]:
df_spark.show(5)

+----+---------------+-------------+------+---------+
|year|        level_1|      level_2| value|new_entry|
+----+---------------+-------------+------+---------+
|1957|Total Residents|0  -  4 Years|264727|     1977|
|1957|Total Residents|5  -  9 Years|218097|     1977|
|1957|Total Residents|10 - 14 Years|136280|     1977|
|1957|Total Residents|15 - 19 Years|135679|     1977|
|1957|Total Residents|20 - 24 Years|119266|     1977|
+----+---------------+-------------+------+---------+
only showing top 5 rows

In [43]:
#delete column
df_spark_dropped=df_spark.drop('level_1')
df_spark_dropped.show(5)

+----+-------------+------+---------+
|year|      level_2| value|new_entry|
+----+-------------+------+---------+
|1957|0  -  4 Years|264727|     1977|
|1957|5  -  9 Years|218097|     1977|
|1957|10 - 14 Years|136280|     1977|
|1957|15 - 19 Years|135679|     1977|
|1957|20 - 24 Years|119266|     1977|
+----+-------------+------+---------+
only showing top 5 rows

In [44]:
#rename the column 
df_spark.withColumnRenamed('level_2','age_bracket').show(5)

+----+---------------+-------------+------+---------+
|year|        level_1|  age_bracket| value|new_entry|
+----+---------------+-------------+------+---------+
|1957|Total Residents|0  -  4 Years|264727|     1977|
|1957|Total Residents|5  -  9 Years|218097|     1977|
|1957|Total Residents|10 - 14 Years|136280|     1977|
|1957|Total Residents|15 - 19 Years|135679|     1977|
|1957|Total Residents|20 - 24 Years|119266|     1977|
+----+---------------+-------------+------+---------+
only showing top 5 rows